.container{
  height: 100%;
  max-width: 1000px;
  padding: 50px;
  margin: 0 auto;
}
.content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
mat-card {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
mat-card-title {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 500;
}
.details-content{
  width: 100%;
}
.image-preview {
  width: 80%;
  margin: 15px 2px;
}
.image-preview img {
  width: 100%;
  box-shadow: 2px 1px 8px 0px rgba(0, 0, 0, 0.5);
}
.details{
  display: flex;
  flex-direction: column;
}
.details-element{
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
}
.back-button{
  max-width: 150px;
}
.dark{
  background-color: rgb(43, 43, 43);
  color: white;
  box-shadow: 2px 1px 8px 0px rgba(0, 0, 0, 0.5) !important;
}
.dark2{
  background-color: rgb(58, 58, 58);
  color: white;
  box-shadow: 2px 1px 8px 0px rgba(0, 0, 0, 0.5) !important;
}

@media (max-width: 600px) {
  .details-element {
    padding: 5px;
    font-weight: 6px;
  }
  .image-part {
    margin-right: 5px;
  }
  .container { 
    padding: 15px;
  }
}
@media (max-width: 500px) {
  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }
  .image-preview{
    width: 100%;
  }
}